<h1><%= @request.name %>,</h1>
<p><%= @request.message %>/p>
<p><%= @request.phone %></p>
<p><%= @request.date %></p>
<p><%= @request.email %></p>
<p><%= @request.guest %></p>
<p><%= @request.category.description %></p>